{% extends "base_generic.html" %}

{% block title %}
	<title>Переобпеределенный тайтл</title>
{% endblock %}


{% block content %}
<h1>Local Library Home</h1>

  <p>Welcome to <em>LocalLibrary</em>, a very basic Django website developed as a tutorial example on the Mozilla Developer Network.</p>

<h2>Dynamic content</h2>

  <p>The library has the following record counts:</p>
  <ul>
    <li><strong>Books:</strong> {{ num_books }}</li>
    <li><strong>Copies:</strong> {{ num_instances }}</li>
    <li><strong>Copies available:</strong> {{ num_instances_available }}</li>
    <li><strong>Authors:</strong> {{ num_authors }}</li>
  </ul>
	<p>В базе содержится:</p>
	<ul>
		<li><strong>Книг про чпонька:</strong> {{ num_books_find_word }}</li>
		<li><strong>Всего авторов с именем или фамилией John:</strong> {{ num_authors_find_word }}</li>
	</ul>
	<p>
		You have visited this page {{ num_visits }}{% if num_visits == 1 %} time{% else %} times{% endif %}.
	</p>
{% endblock %}

